

<div class="container">
  <div class="row">
      <h1>Here you can have a look to the gyms around the world</h1>
    <% @gyms.each do |gym| %>
    <div class="col-lg-3 col-xs-4 col-sm-4 col-xs-6 ">
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path gym.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category"><%= link_to  gym.name, gym_path(gym)%></div>
        <div class="card-description">
          <h2><%= gym.description %></h2>
          <p><%= gym.pricing  %></p>
        </div>



        </div>

         <% if policy(gym).create? %>
         <%= link_to "New Gym", new_gym_path %>
      <% end %>

      <% if policy(gym).edit? %>
        <%= link_to "Update", edit_gym_path(gym) %>
     <% end %>
     <td>
       <% if policy(gym).destroy? %>
       <%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure ?'} %>

      <% end %>
    </td>


    </div>

     <% end %>
  </div>

</div>
<!-- ADDING THE MAP FROM GOOGLE APIS -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8l0LzjzU93R8iNzhW4QzGHAxA111z8TM&libraries=places"></script>



<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
